﻿.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-column-menu .k-sprite, .k-grid-mobile .k-resize-handle-inner::before, .k-grid-mobile .k-resize-handle-inner::after 
{
    background-image: url("Bootstrap/sprite.png");
}
.k-loading-image{background-image:url('../Images/update-progress.gif')}

.k-state-selected{
    background-color: #a9a9a9;
    border-color: grey;
}
.k-grid table {
    border-collapse: collapse;
}


/*  CSS To render the RepManager Dashboard: */
#container    {
                width: 100%;
                margin: 0 0 0 0;
                position: relative;
            }

               
#content-container
            {
                float: left;
                overflow: hidden;
            }


.clear        {   /* use before footer - clears floats */
                clear: both;
}

/*   --------------- column left --------------------------  */
.col-left-class
            {
                float: left;
                width: 100%;
                padding: 10px 0px 0px 4%;
                margin: 0 0 0 30px;
                display: inline;
            }

.col-left-class #col-left-sitemanage
            {
                width: 100%;
            }

.col-left-class a
            {
                text-align: center;
            }


/*   ----------------------------column right------------------------------------   */
.col-right-class
            {
                float: left;
                width: 100%;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 15px;
                display: inline;
            }


/*  End CSS To render the RepManager Dashboard: */

.k-header{
    background-image: none;
}