﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mar20{
    margin:20px;
}

.pad10{
    padding:10px;
}
.pad20{
    padding:20px;
}

#MessageGrid{
    margin-top:150px;
}
#alertPlaceholder{
    position: fixed;
    top: 100px;
    left: initial;
}
.alert{
    float: left;
}

.alert span{
    padding:10px;
}
.navbar-header em
{
    float:right;    
    font-size: smaller;
    color: whitesmoke;
}
#Message table td {
   padding-right: 5px
}